#menu a {
  margin: 0 15px;         
  text-decoration: none;  
  color: rgb(59, 59, 93);            
  font-size: 20px;
  font-weight: bold;
}
#menu a:hover {
  color: rgb(75, 157, 198);
}
body{
    background-color: #b6d3ed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #8aa8ea;
padding: 20px;
}
h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  background-color: #607ab3;
  padding: 15px;
}
h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: #e1ebff;
  font-size: small;
}
.div {
  width: 1000px;
  height: 800px;
  border: 2px;
  border-style: double;
  border-color: rgb(97, 171, 88);
  background: linear-gradient(90deg, #3e783e, #6dcd6d)
}
#balatro{
position: absolute;
top: 918px;
right: 270px;
height: 145px;
width: 75px;
}
.fondodegrade {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-align: center;
  color: white ;
  background: linear-gradient(90deg, #5f0000, #10005f);
  padding-left: 300px;
  padding-right: 280px;
  padding-bottom: 40px;
  padding-top: 30px;
  position: absolute;
  top: 810px;
  left: 250px;
}
.NOVEDAD {
  color: #3e783e;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 470px;
  left: 400px;
}
.reme {
  width: 1000px;
  height: 500px;
  border-style: double;
  border-color: #3e783e;
  position: absolute;
  top: 335px;
  left: 250px;
}


a:hover {
  color: #6dcd6d;
}
#bio {
  text-align: right;
  text-shadow: 5cm #10005f;
  color: #3e783e;
  text-decoration: double;
  background: none;
  position: absolute;
  top: 900px;
  left: 270px;
  background-color: #1b321b;
  padding-bottom: 100px;
  padding-left: 90px;
  padding-right: 515px;
}
#bioo {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 950px;
  left: 320px;
}

#text1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 330px;
  left: 270px;
  background: none;
}
#text2 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 360px;
  left: 270px;
  background: none;
}
#text3 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 390px;
  left: 270px;
  background: none;
}